* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin-top: 15%;
}
.container {
    max-width: 50vw;
    min-height: 30vh;
    background-color: #f0f0f0;
    padding: 40px;
}
form {
    padding: 10px 0;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
input[type=text] {
    padding: 10px;
    border: 2px solid green;
    border-radius: 5px;
}
input[type=submit] {
    margin-left: 20px;
    background-color: rgb(20, 229, 97);
    padding: 15px;
    border-radius: 5px;
}
ul {
    text-decoration: none;
    list-style: none;
    padding: 10px;
}
ul li {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}