@import "tailwindcss";


.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr); /* Creates 12 responsive columns */
    grid-template-rows: auto;
    gap: 1rem;
  }
  
  .grid-item {
    position: relative;
    width: 100%;
  }
  
.pink { 
    grid-column: 8 / span 4; 
    grid-row: 1; 
}
.yellow { 
    grid-column: 1 / span 6; 
    grid-row: 2; 
}
.green { 
    grid-column: 3 / span 6; 
    grid-row: 3; 
}

.text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh; /* Keeps it centered */
  }