.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    border: 2px solid saddlebrown;
    padding: 12px;
}

.one {
    background-color: brown;
    height: 250px;
    overflow-x: auto;
}

.two {
    background-color: fuchsia;
}

.three {
    background-color: green;
}

.three:hover {
    overflow: visible;
}