* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
}
.one {
    width: 100%;
    background-color: brown;
}

.two {
    width: 40vw;
    padding: 10px;
    background-color: fuchsia;
}

@media screen and (min-width: 680px) and (max-width: 1120px) {
    .one {
        width: 60%; 
    }
}